/* Colors from Cyberdream */
:root {
   --bg: #16181a;
   --bg_alt: #1e2124;
   --bg_highlight: #3c4048;
   --fg: #ffffff;
   --grey: #7b8496;
   --blue: #5ea1ff;
   --green: #5eff6c;
   --cyan: #5ef1ff;
   --red: #ff6e5e;
   --yellow: #f1ff5e;
   --magenta: #ff5ef1;
   --pink: #ff5ea0;
   --orange: #ffbd5e;
   --purple: #bd5eff;
}

body {
   background: var(--bg);
   color: var(--fg);
}

#app {
   /* max-width: 800px; */
   margin: auto;
}

::marker {
   color: var(--grey);
}

h1,
h2,
h3 {
   text-align: center;
}

h1 {
   color: var(--blue);
   text-align: center;
}

h2 {
   color: var(--orange);
}

h3 {
   color: var(--purple);
}

.entries {
   display: grid;
   grid-gap: 20px;
   margin: 0 20px;
   overflow-x: scroll;
   grid-auto-flow: column;
   scrollbar-width: thin;
   scrollbar-color: var(--blue) var(--bg_alt);
   /* scroll-snap-type: x; */
}

.entry {
   text-align: center;
   border: 1px solid var(--fg);
   border-radius: 20px;
   corner-shape: squircle;
   padding: 10px;
   width: 350px;
   /* scroll-snap-align: center; */
}

.spoiler {
   >span {
      cursor: pointer;
      border: 1px solid transparent;

      &:not(.spoil) {
         color: transparent;
         user-select: none;
         background: var(--bg_alt);
         border: 1px solid var(--bg_highlight);
         border-radius: 5px;
      }
   }

}

.i {
   position: relative;
   padding-left: 25px;
   display: block;
   margin: auto;
   width: fit-content;

   &::before {
      position: absolute;
      left: 0;
   }
}

.i-yay::before {
   content: '🎉';
}

.i-jigsaw::before {
   content: '🧩';
}

.i-key::before {
   content: '🔑';
}

.i-atbash::before {
   content: '🔄';
}

.i-ceaser::before {
   content: '👑';
}

.i-vigenere::before {
   content: '📉';
}

.index-start {
   counter-reset: index;
}

.index {
   position: relative;
   padding-right: 2ch;
}

.index::after {
   content: counter(index);
   counter-increment: index;
   position: absolute;
   right: 0;
   top: 0;
}

button {
   background: var(--red);
   color: var(--fg);
   border: none;
   padding: 3px 7px;
   margin: 10px;
}
